[build]
  base = "CODIGO_FUENTE"
  command = "rm -rf node_modules && yarn install --frozen-lockfile && yarn build"
  publish = ".next"

[build.environment]
  NODE_ENV = "production"
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"
